<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    
    <ion-nav-bar>
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="primary">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      
      <ion-nav-buttons side="secondary">
        <button class="button button-icon buttom-clear ion-plus" ng-click="$state.go('app.newStory')"></button>
      </ion-nav-buttons>

      <ion-nav-title>
        <img src="img/logo-small.png" class="logo">
      </ion-nav-title>
    
    </ion-nav-bar>
    
    <ion-nav-view name="mainContent"></ion-nav-view>
  
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-brand">
      <h1 class="title">Menu</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item nav-clear menu-close ng-click="$state.go('app.inbox')">
          Inbox
        </ion-item>
        <ion-item nav-clear menu-close ng-click="$state.go('app.settings')">
          Settings
        </ion-item>
        <br>
        <ion-item nav-clear menu-close ng-click="logout()" style="color: red">
          Log out
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
