<ion-view id="chat" name="Chat">
  <ion-nav-buttons side="secondary">
      <button class="button button-icon button-clear ion-record" ng-class="{online: online, offline: !online}"><span>{{status}}</span></button>
  </ion-nav-buttons>
  <ion-content start-y="155" padding="true">
    <ul class="messages">
      <li ng-repeat="message in messages" id="{{message.id}}" ng-class="{'belongs-to-user': user.id == message.sender_id}"><p>{{message.body}}</p></li>
    </ul>
  </ion-content>
  <ion-footer-bar keyboard-attach>
    <form id="newMessageForm" name="newMessageForm" role="form">
      <div class="item item-input">
        <label class="col-90">
          <input type="text" placeholder="Write a new message..." name="message" ng-model="newMessage.body">
        </label>
        <button class="button button-clear button-positive create-button text-button" ng-click="sendMessage()">Send</button>
      </div>
    </form>
  </ion-footer-bar>
</ion-view>