<ion-view id="login" name="Login">
  <ion-content>
    <div id="brand" class="row">
      <div class="wrapper col col-100">
        <img src="img/logo.png" class="logo">
        <p class="tagline">Therefore encourage one another</p>
      </div>
    </div>
    <form id="signInForm" name="signInForm" class="row" role="form" ng-show="!loading">
      <div class="col col-100 list">
        <ul class="error-messages">
          <div class="error-message email-error" ng-show="signInForm.email.$invalid && signInForm.email.$touched">
            <li>{{errors.emailError}}</li>
          </div>
          <div class="error-message password-length-error" ng-show="signInForm.password.$invalid && signInForm.password.$touched">
            <li>{{errors.passwordError}}</li>
          </div>
          <div class="error-message authentication-error" ng-show="errors.authError.length > 0 ">
            <li>{{errors.authError}}</li>
          </div>
          <div class="error-message no-server-error" ng-show="errors.noServerError.length > 0 ">
            <li>{{errors.noServerError}}</li>
          </div>
          <div class="error-message registration-error" ng-show="errors.registrationError.length > 0 ">
            <li>{{errors.registrationError}}</li>
          </div>
        </ul>
        <div class="wrapper">
          <label class="email item item-input">
            <input name="email" type="email" ng-model="authenticationForm.email" placeholder="Email" required>
          </label>
          <label class="password item item-input">
            <input name="password" ng-model="authenticationForm.password" type="password" placeholder="Password" required minlength="6">
          </label>
        </div>
        <button class="button button-positive form-control col-67 col-offset-33" ng-click="register()" ng-disabled="form.email.$invalid || form.password.$invalid">Register</button>
        <button class="button button-positive form-control col-67 col-offset-33" ng-click="submitLogin(authenticationForm)" ng-disabled="form.email.$invalid || form.password.$invalid">Sign In</button>
      </div>
    </form>
  </ion-content>
</ion-view>