@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-Regular.otf');
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-It.otf');
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-BoldIt.otf');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-Light.otf');
  font-weight: 300;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-LightIt.otf');
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-ExtraLight.otf');
  font-weight: 200;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-ExtraLightIt.otf');
  font-style: italic;
  font-weight: 200;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-Semibold.otf');
  font-weight: 400;
}
@font-face {
  font-family: SourceSansPro;
  src: url('fonts/SourceSansPro-SemiboldIt.otf');
  font-style: italic;
  font-weight: 400;
}
@font-face{
  font-family: Precious;
  src: url('fonts/Precious.ttf');
}