// Global styles for every platform
h1, h2, h3, h4, h5, h6, p, span{
  font-family: SourceSansPro;
  font-weight: 300;
}
button, .button.button-positive{
  border: none;
  border-color: transparent;
}

button, .button.button-positive, input{
  border-radius: 0;
}
.bar-header{
  .button-icon{
    color: white;
  }
}
body{
  color: white;
  font-family: SourceSansPro;
  font-size: 16px;
  font-weight: 300;
  #login{
    ion-content{
      background-color: $brand;
      #brand{
        padding-top: 50px;
        .wrapper{
          img.logo{
            display: block;
            margin: auto;
            text-align: center;
            width: 200px;
          }
          .tagline{
            display: block;
            text-align: center;
            font-size: 1.2em;
            font-style: italic;
            font-weight: 300;
            max-width: 100%;
          }
        }
      }
      form#signInForm{
        .list{
          .error-messages{
            font-size: .8em;
            font-weight: 300;
            margin-bottom: 5px;
            .error-message{
              color: red;
              margin-bottom: 10px;
            }
          }
          .wrapper{
            .item-input{
              margin-bottom: 5px;
            }
            margin-bottom: 15px;
          }
          button.button{
            display: block;
            margin: auto;
            margin-bottom: 5px;
            width: 75%;
          }
        }
      }
    }
  }
}

