// Styles specific to ios 7 and 8

body.platform-ios{
  #loading-bar-spinner {
    top: 30%;
    left: 50%;
    &.spinner-login{
      top: 40%;
    }
  }
  #loading-bar-spinner .spinner-icon {
    height: 25px;
    width: 25px;
    &.icon-login{
      border-left-color: #29d;
      border-top-color:  #29d;
    }
  }
  .bar-header{
    background-color: $brand;
    border: 0;
    .back-button{
      color: white;
    }
    .title .nav-bar-title{
      img.logo{
        height: 30px;
        margin-top: 8px;
        width: 76px;
      }
    }
    .title{
      color: white;
    }
    .button-clear.text-button{
      color: white;
      font-size: 22px;
      font-weight: 400;
      letter-spacing: 1px;
    }
    .button-icon.ion-record{
      cursor: default;
      pointer-events: none;
      &.online{
        color: #72dd8a;
      }
      &.offline{
        color: #dd727e;
      }
      span{
        color: white;
        display: inline;
        font-weight: 400;
      }
    }
  }
  ion-content{
    background-color: $secondary-brand;
  }
  #feed{
    ion-content{
      background-color: $secondary-brand;
      .feed{
        .stories{ 
          margin-top: 10px;
          .story{
            background-position: center;
            background-repeat: no-repeat;
            background-size: 95% 93.5%;
            color: white;
            height: 300px;
            margin-bottom: 20px;
            .text-content{
              height: 50px;
              margin-top: 35%;
              text-align: center;
              p{
                color: white;
                font-weight: 400;
                font-size: 25px;
                line-height: 100%;
                overflow: visible;
                text-align: center;
                white-space: normal;
              }
            }
            .feedback{
              margin-top: 18%;
              .icon-edify{
                color: white;
                font-family: Precious;
                font-size: 4em;
                &.blue{
                  color: $brand;
                }
              }
              .button.ion-ios-chatbubble{
                color: white;
                float: right;
                margin-top: 2.5%;
                &:before{
                  font-size: 38px;
                }
              } 
            }
            .edit{
              margin-top: 18%;
              .icon-edify{
                color: white;
                font-family: Precious;
                font-size: 4em;
                &.blue{
                  color: $brand;
                }
              }
              .like-count{
                color: white;
                display: inline-block;
                font-size: 2em;
                margin-bottom: 2%;
                vertical-align: bottom;
              }
              .button.ion-ios-trash{
                color: white;
                float: right;
                margin-top: 2.5%;
                vertical-align: bottom;
                &:before{
                  font-size: 38px;
                }
              }
            }
          }
        }
      }
    }
  }

  #newStory{
    ion-content{
      .new-story{
        margin-top: 20px;
        .new-story-form{
          .story-input{
            margin: 0 auto;
            textarea{
              background-position: center;
              background-repeat: no-repeat;
              background-size: cover;
              font-weight: 200;
              font-size: 20px;
              height: 200px;
              margin: 0 auto;
              padding-left: 7px;
              padding-top: 5px;
              resize: none;
              width: 80%;
            }
          }
          .image-attach{
            margin: 0 8%;
            .button-icon{
              float: right;
            }
          }
        }
      }
    }
  }
  #chooseImage{
    ion-header-bar{
      &.bar-header{
        background-image: none;
      }
      button.icon.ion-ios-close-empty{
        &:before{
          font-size: 52px;
        }
      }
      .title{
        color: white;
        letter-spacing: 1px;
        margin-top: 20px;
      }
      label{
        height: 25px;
        margin: auto;
        padding-left: 5px;
        width: 75%;
      }
    }
    ion-content{
      div .photo-row{
        text-align: center;
        .image{
          cursor: pointer;
          img{
            margin: auto;
            width: 90%
          }
        }
      }
    }
  }
  #chat{
    ion-content{
      background-color: white;
      padding-bottom: 5px;
      div .messages{
        padding: 0;
        list-style-type: none;
        overflow: scroll;
        li{
          display: block;
          clear: both ;
          max-width:50%;
          margin: 0 0 1rem 0;
          padding: 0;
          &:not(.belongs-to-user){
            float: right;
            img{
              float: right;
            }
            p{
              background: #3c7e90;
              color: #fff;
            }
          }
          &.belongs-to-user{
            float: left;
          }
          &:last-child{
            margin-bottom: 0px;
          }
        }
        p{
          border-radius: .75rem;
          background: #b9d9e3;
          color: #383641;
          padding: .6875rem;
          margin: 0;
          font-size: .875rem;
        }
        img{
          display: block;
          max-width: 65%;
          border-radius: .75rem;
        }
      }
    }
    ion-footer-bar{
      padding: 0;
      form{
        width: 101%;
        div{
          label.col-90{
            border-right: 0;
            max-width: 85%;
          }
          button{
            font-weight: 400;
            margin-right: 10px;
          }
        }
      }
    }
  }
}