$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #47b6d8 !default;
$calm:                            #43cee6 !default;
$balanced:                        #72dd8a !default; // flash success color
$energized:                       #f0b840 !default;
$assertive:                       #ef4e3a !default;
$royal:                           #8a6de9 !default;
$dark:                            #444 !default;
$brand: #72c5dd;
$positive-click: #23a3ca;
$secondary-brand: #c9dee4;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/release/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";
@import "fonts";
@import "ionic-global";
@import "ionic-ios7";
@import "ionic-android";

.bar-brand{
  background-color: $brand;
}