<ion-view id="newStory" name="NewStory">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-positive create-button text-button" ng-click="cloud ? submitStory() : submitStoryWithImage()">Create</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="new-story">
      <form class="new-story-form" class="row" role="form" name="newStoryForm">
        <div class="story-input">
          <textarea name="text" ng-style="newStory.background" ng-model="newStory.text" placeholder="{{textPlaceholder}}" ng-class="{'with-image-background': imageBg}" required></textarea>
        </div>
        <div class="image-attach">
          <button class="button button-icon icon ion-ios-camera" ng-click="chooseImageType()"></button>
          <button class="button button-icon icon ion-images" ng-click="search(1, true)"></button>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>
