<ion-modal-view id="chooseImage">
  <ion-header-bar>
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()"></button>
    <h1 class="title">Choose Image</h1>
  </ion-header-bar>
  <ion-header-bar class="bar-subheader">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" name="query" id="searchQuery" placeholder="Search" ng-change="search()" ng-model="image.query" ng-model-options="{ debounce: 500 }">
      </label>
  </ion-header-bar>
  <ion-content class="has-header has-subheader">
    <div ng-repeat="photoUrl in photoUrls.photos track by $index">
      <div class="row photo-row" ng-if="!($index % 3)">
        <div class="col col-33 image" ng-click="selectCloudImage($event, photoUrls.photos[$index])">
          <img ng-src="{{photoUrls.photos[$index]}}">
        </div>
        <div class="col col-33 image" ng-click="selectCloudImage($event, photoUrls.photos[$index + 1])">
          <img ng-src="{{photoUrls.photos[$index + 1]}}">
        </div>
        <div class="col col-33 image" ng-click="selectCloudImage($event, photoUrls.photos[$index + 2])">
          <img ng-src="{{photoUrls.photos[$index + 2]}}">
        </div>
      </div>
    </div>
    <ion-infinite-scroll on-infinite="search(photoUrls.page + 1, false, true)" ng-if="modalOpen" distance=".5%"></ion-infinite-scroll>
  </ion-content>
</ion-modal-view>