<ion-view id="feed">
  <ion-content>
    <ion-refresher
      pulling-icon="ion-arrow-down-a"
      on-refresh="refreshStories()">
    </ion-refresher>
    <div class="row feed">
      <div class="stories col col-100 list">
        <div class="story item" ng-repeat="story in stories" ng-style='story.background' on-double-tap="like(story)" on-swipe-left="goToNewMessage(story)" >
          <div class="text-content">
            <p>{{story.text}}</p>
          </div>
          <div class="feedback" ng-style="story.feedback" ng-hide="user.id == story.user.id">
            <button class="button button-icon icon icon-edify" ng-class="{ blue: story.liked}" ng-click="story.liked ? unlike(story) : like(story)">e</button>
            <button class="button button-icon icon ion-ios-chatbubble" ng-click="goToChat(story)"></button>
          </div>
          <div class="edit" ng-style="story.edit" ng-show="user.id == story.user.id">
            <button class="button button-icon icon icon-edify blue">e</button>
            <span class="like-count">{{story.votes_for.length}}</span>
            <button class="button button-icon icon ion-ios-trash"></button>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
