<ion-view view-title="Inbox">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="message in messages">
        {{message.content}}
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>